---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
---

<!doctype html>
<html lang='pt'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h3>
        🇵🇹🇺🇦Bem-vindo ao <code>DroneAid Collective</code> em Portugal!
      </h3>
      <p>
        Somos o projeto social do DroneAid Collective no Porto. E parte da nossa missão é arrecadar fundos e componentes que usamos para ensinar a montar drones completos e soldá-los. Os drones criados são entregues a unidades militares para missões de vigilância, reconhecimento e inteligência.
      </p>
      <h4>Nosso objetivo</h4>
      <p>
        <ul>
          <li>
            Através da construção de drones e do envolvimento na comunidade, envolvemos portugueses e estrangeiros para ajudar a Ucrânia. 
          </li>
          <li>Também incluímos veteranos nos nossos eventos para mostrar aos civis que a montagem de drones é na verdade uma atividade acessível. </li>
          <li>
            Por isso, queremos incluir mais pessoas treinadas na montagem dos drones distribuídos (projeto <a href="https://www.socialdrone.com.ua/en">SocialDrone</a>).
          </li>
          <li>
            Build a local community of technical experts capable of creating new solutions or deploying/scaling up drone production.
          </li>
        </ul>
			</p>
        <h4>
					Formato do evento:
					</h4>
				<p>
        <ul>
          <li>Compra de componentes para drones</li>
          <li>Organização de um evento onde ensinamos como soldar e montar drones à partir de componentes</li>
          <li>Teste dos drones montados, incluindo missões básicas de voo</li>
          <li>Envio dos drones montados e testados para unidades militares na Ucrânia</li>
        </ul>
      </p>
      <h4 id='qna'>Perguntas e respostas</h4>
      <h5>De como posso me envolver?</h5>
      <p>
        Atualmente, temos um chat no Telegram para coordenar a comunidade ucraniana. Para estrangeiros (falantes de inglês e português), estamos planejando um chat comunitário no WhatsApp. A melhor maneira de se envolver é doar dinheiro para um kit ou uma parte dele, além de participar do evento e tentar montar seu próprio drone a partir dos componentes que serão fornecidos.
      </p>
      <h5>Preciso ter alguma habilidade ou ferramenta?</h5>
      <p>
        Todas as ferramentas necessárias serão fornecidas, não são necessárias habilidades para participar - os organizadores e mentores ensinarão tudo durante o evento. No entanto, se você souber soldar ou for bom em eletrônica, ficaremos felizes em ter você participando da montagem dos drones e se juntando à equipe de organizadores como mentor.
      </p>
      <h5>Do que se consiste um evento de montagem de drones?</h5>
      <p>
        Primeiro, damos uma mini-palestra sobre técnicas de soldagem e permitimos que você solde placas de teste e cabos. Depois disso, começa a fase de montagem real do drone, que consiste principalmente em medir o tamanho dos cabos, cortar o excesso e soldá-los na placa do controlador de voo. Todas as ferramentas necessárias estarão disponíveis fornecidas pelos organizadores, mas você é bem-vindo para trazer suas próprias ferramentas ou compartilhá-las. As principais ferramentas que serão necessárias durante a montagem:
				<ul>
					<li>Ferro de solda de 65 Watts</li>
					<li>Pinças para segurar cabos</li>
					<li>Fluxo, fio de solda</li>
					<li>Chaves de fenda Phillips e hexadecimais para parafusos M2-M5</li>
				</ul>
      </p>
      <h5>O que acontece depois que o drone é montado?</h5>
      <p>
        O primeiro passo é verificar a condição de soldagem das baterias, motores e outros elementos do drone. Depois disso, o drone é reprogramado com as versões mais recentes do software. No final de semana seguinte após os drones serem montados, se as condições meteorológicas forem adequadas, os drones montados são testados em voo. Se nenhum problema for notado durante todos esses testes, o drone está pronto para ser enviado a uma unidade militar na Ucrânia.
      </p>
      <h5>Quando poderei ver o relatório em foto/vídeo com o drone que montei/doei?</h5>
      <p>
        Após todos os drones serem montados, verificados quanto à soldagem adequada e testados em voo, eles são enviados para a Ucrânia. O tempo médio de logística leva 2 semanas para a Ucrânia e até duas semanas adicionais dentro da Ucrânia. Portanto, aguarde um relatório da unidade militar relevante após esse período, que postaremos nas redes sociais e nos chats relevantes.
      </p>
      <h5>
        E se eu doar o preço total (250-400 euros) mas não puder ir? Quero doar o preço total do custo do drone, mas não sei quando será o workshop.
      </h5>
			<p>
				<ol>
					<li>Seu direito de montar um drone permanece com você, mesmo que não possa vir, ele estará esperando por você na próxima vez.</li>
					<li>Infelizmente, ainda não é possível determinar a data porque depende do ritmo da coleta. Mas estima-se que será no sábado ou domingo. Ou depois do último workshop, daqui a duas semanas, no sábado ou no domingo.</li>
				</ol>
			</p>
			<h4 id="guides">Guias de montagem (ucraniano):</h4>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/3NaTwaRA78Q?si=aXy-5wt__LHEKUGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			<p>
				<a href="https://social-drone-ua.notion.site/FPV-Pilotix-826ea509712246fa8f7b6008de466a6c">Social drone - Assembling a FPV (pilotix)</a>
			</p>
    </main>
    <Footer />
  </body>
</html>
