---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
---

<!doctype html>
<html lang='ua'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h3>
        🇵🇹🇺🇦Вас вітає <code>DroneAid Collective</code> в Португалії!
      </h3>
      <p>
        Ми соціальний проект DroneAid Collective у місті Порту. Ми збираємо кошти на комплектуючі, з яких вчимо як
        збирати повноцінні дрони та паяти. Створені безпілотники передані військовим підрозділам для спостереження,
        розвідки та місій розвідки.
      </p>
      <h4>Наша мета</h4>
      <p>
        <ul>
          <li>
            Через фізичну долученість до побудови дрона та долученість до спільноти - залучити локалів та іноземців у
            допомогу Україні
          </li>
          <li>Включити ветеранів у соціальні події</li>
          <li>
            Показати цивільним, що збірка дронів насправді доступне для усіх заняття. Через це додати більшу кількість
            навчених у розподіленій збірці дронів (проект <a href="https://www.socialdrone.com.ua/en">SocialDrone</a>)
          </li>
          <li>
            Побудувати локальну спільноту технічних спеціалістів, які здатні придумувати нові рішення або
            розгортати/масштабовувати виробництво дронів.
          </li>
        </ul>
			</p>
        <h4>
					Формат івентів, або чим займаємось:
					</h4>
				<p>
        <ul>
          <li>закупівлею комплектуючих до дронів</li>
          <li>організацією заходу, під час якого вчимо як паяти та як збирати з компонентів дрони</li>
          <li>тестуємо зібрані дрони, в тому числі перевіряємо базові польотні місії</li>
          <li>відправляємо зібрані і перевірені дрони в України у військові підрозділи</li>
        </ul>
      </p>
      <h4 id='qna'>Питання і відповіді</h4>
      <h5>Як я можу долучитись?</h5>
      <p>
        Станом на зараз, для координації української спільноти маємо чат в телеграмі. Для іноземців (англомовних та
        португаломовних) планується whatsapp community chat. Найкращим способом долучитись - це задонатити кошти на
        комплект або його частину, а також прийти на сам івент і спробувати зібрати власний дрон з комплектуючих, які
        будуть надані.
      </p>
      <h5>Чи мені необхідно мати якісь навички або інструменти?</h5>
      <p>
        Всі необхідні інструменти будуть надані, ніяких навичок для участі не потрібно - всьому організатори і ментори
        навчать під час заходу. Але якщо ви вмієте паяти або знаєтесь на електроніці, то будемо раді і ваші участі у
        збірці дронів і також якщо ви долучитесь як ментор до команди організаторів.
      </p>
      <h5>З чого складається захід зі збірки дронів?</h5>
      <p>
        Спершу, ми проводимо міні-лекцію з техніки пайки і даємо змогу спаяти тестові плати та кабелі. Після чого
        розпочинається власне етап збірки дрона, який складається в більшості з вимірювання розміру кабелів, відрізання
        зайвого і паяння їх в плату льотного контролеру. Всі необхідні інструменти будуть доступні надані
        організаторами, проте не заборонено приносити власні інструменти або ділитись ними. Основні інструменти, які
        знадобляться під час збірки:
				<ul>
					<li>Паяльник (solder iron) на 65 Ват </li>
					<li>Пінцет для утримання кабелів </li>
					<li>Флюс (flux), припій (solder wire) </li>
					<li>Викрутки хрестові та шестикутні під болти діаметром М2-М5</li>
				</ul>
      </p>
      <h5>Що відбувається після збірки дрону?</h5>
      <p>
        Першим ділом - перевіряється стан пайки елементів живлення, моторів та інших елементів дрону. Після цього, дрон
        перепрограмовується на останні версії програмного забезпечення. В наступні вихідні після збірки дронів, якщо
        погодні умови відповідні, відбуваються льотні тести зібраних дронів. Якщо ніяких проблем не було помічено під
        час виконання всіх цих тестів - дрон готовий до відправки в Україну у військовий підрозділ.
      </p>
      <h5>Коли можна буде побачити фото/відео звіт з дроном який я зібрав / на який задонатив?</h5>
      <p>
        Після того, як усі дрони зібрані, перевірені на правильність пайки і перевірені в польоті, вони відправляються в
        Україну. Середній час логістики займає 2 тижні до України і ще до двох тижнів по Україні. Тому очікуйте після
        цього проміжку звіт від відповідного підрозділу, який ми розмістимо в соціальних мережах та у відповідних чатах.
      </p>
      <h5>
        Якщо я задоначу 230 євро, але не зможу прийти? або "я хочу задонатити 230 євро, але невідомо, коли воркшоп"
      </h5>
			<p>
				<ol>
					<li>Ваше право зібрати дрон лишається за вами навіть якщо у вас не вийде прийти, то він буде вас чекати наступного разу</li>
					<li>Визначити дату, на жаль поки неможливо бо залежить від темпу збору. але оціночно це субота або неділя. Або від останнього воркшопу через одні вихідні в суботу або неділю</li>
				</ol>
			</p>
			<h4 id="guides">Посібники по збірці:</h4>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/3NaTwaRA78Q?si=aXy-5wt__LHEKUGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			<p>
				<a href="https://social-drone-ua.notion.site/FPV-Pilotix-826ea509712246fa8f7b6008de466a6c">Social drone - Збираємо FPV (pilotix)</a>
			</p>
    </main>
    <Footer />
  </body>
</html>
